.search {
  -webkit-appearance : none;
  border: 1px solid #ffb700;
  border-radius: 5px;
  background-color: #fbf1a9;
  outline: none;
  padding: 10px;
  width: 200px;
  margin-bottom: 50px;
}


input {
  font-size: 100%;
}
